/*body {
background: url(images/giphy.gif);
background-size:100%;
background-repeat: repeat-y;
background-attachment: fixed;
height:100%;
width:100%;
}
h1, h2 {
    color:green;
    font: 36pt serif;
}
ul {
    font-style: italic;
    font-weight: bold;
    }

    BLOCKQUOTE {
    color: white;
    margin-top: 1em;
    margin-right: 0em;
    margin-bottom: 1em;
    margin-left: 0em;
    font-style: italic;
}

BLOCKQUOTE {
    margin: 1em 0em 1em 0em;
    font-style: italic;
    background: #EDB;
    padding: 0.5em;
}
a:visited, a:link {
    text-decoration: none;
}
a:hover {background: cyan;}
*/

p#le{ text-align: left; }
p#ri{ text-align: right; }
p#ce{ text-align: center; }
p#ju{ text-align: justify; }

p#no{ text-decoration: none; }
p#un{ text-decoration: underline; }
p#ov{ text-decoration: overline; }
p#th{ text-decoration: line-through; }
p#bl{ text-decoration: blink; }

p#ind{
    text-indent: 2em;
  }

p#ab{ font-size: small; }
p#px{ font-size: 24px; }
p#em{ font-size: 1.2em; }
p#per{ font-size: 180%; }

p#se{ font-family: "Time New Roman", Garamond, serif; }
p#sa{ font-family: Helvetica, "MS Verdana", sans-serif; }

p#no{ font-style: normal; }
p#i{ font-style: italic; }
p#ob{ font-style: oblique; }

p#one{ font-weight: 100; }
p#two{ font-weight: 200; }
p#three{ font-weight: 300; }
p#four{ font-weight: 400; }
p#five{ font-weight: 500; }
p#six{ font-weight: 600; }
p#seven{ font-weight: 700; }
p#eight{ font-weight: 800; }
p#nine{ font-weight: 900; }

ul{
    list-style-type: square;
  }
ol{
    list-style-type: lower-alpha;
}

ul#gif{
    list-style-image: url(images/tenor.gif);
  }

a:link, a:visited{
    color: #ff0000;
    text-decoration: underline;
    }
a:hover, a:active{
    color: #0000ff;
    text-decoration: none;
}

p#box_model{
    width: 300px;
    height: 300px;
    background-color: red;
  }

p#not-pad{
    width: 300px;
    height: 100px;
    background-color: red;
}
p#pad{
    padding: 10px 20px;
    width: 300px;
    height: 100px;
    background-color: red;
}
p#not-mar{
    width: 300px;
    height: 100px;
    background-color: red;
}
p#mar{
    width: 300px;
    height: 100px;
    background-color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#backgrounds dl{
    background-color: red;
}

#backgrounds div.image-bg{
    background-image: url(images/engranaje.gif);
}


#backgrounds div.image-bg2{
    background-image: url(images/engranaje.gif);
    background-repeat: no-repeat
}