body{
    color: #333333;
    font-size: 0.9em;
    font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, Geneva, sans-serif;
  }

#main .date{
    color: #666666;
    text-align: right;
}

#footer .copyright{
    text-align: center;
}

nav ul li{
    font-size: 1.5em;
  }
nav ul {
    list-style-type: none;
}

nav ul li a:link, nav ul li a:visited{
    color: #333333;
    text-decoration: none;
  }
  
nav ul li a:hover, nav ul li a:active{
    color: #990066;
    text-decoration: none;
  }
